{% extends 'visualizer/_base.html' %}

{% block title %}Sensor Data{% endblock title %}

{% block content %}

{% for batch_id in batch_ids %}
    {% if not 'TEST' in batch_id %}
        <a class="btn btn-outline-primary my-3" href="{% url 'batches' batch_id %}">{{ batch_id }}</a>
    {% endif %}
{% endfor %}

<h2 class="mt-4"><span class="text-black-50">Batch:</span> {{ batch_info.batch_id }}</h2>
<ul>
    <li>Start date: {{ batch_info.start_date|date:"Y-m-d H:i:s" }}</li>
    <li>End date: {{ batch_info.end_date|date:"Y-m-d H:i:s" }}</li>
    <li>Duration: {{ batch_info.duration }} </li>
    <li># Time steps: {{ time_steps }}</li>
</ul>

<h3 class="mt-5">Temperature Sensor Data </h3>
<canvas class="mb-5" id="temp-data-chart"></canvas>

<h3 class="mt-4">PH Sensor Data </h3>
<canvas class="mb-5" id="ph-data-chart"></canvas>

{% endblock content %}

{% block javascript %}
<!-- Javascript for rendering chart -->
<script>  
  
  scales = {
    x: {
      type: 'timeseries', // not different from type:'time' in our case as timesteps are equidistant
      time: {
        unit: 'hour',
        tooltipFormat:'yyyy-MM-dd HH:mm:ss',
        displayFormats: {
          hour: 'HH:mm'
        },
      },
    }
  }

  // Custom callback to prevent Chart.js from rounding decimal values on tooltip
  // (tooltip rounding is fine on sensor deviation charts, but we want to see precise values here)
  plugins_tooltip = {
    callbacks: {
      label: function(context) {
        let label = context.dataset.label || '';

        if (label) {
            label += ': ';
        }
        if (context.parsed.y !== null) {
            label += context.parsed.y;
        }
        return label;
      }
    }
  }

  const temp_config = {
    type: 'scatter',
    data: {
      fill: false,
      datasets: [
        {
            data: {{ 400E_Temp1|safe }},  
            label: "Temp1",
            borderWidth: 1,
            borderColor: "#3e95cd",
            showLine: false 
        },
        {
            data: {{ 400E_Temp2|safe }}, 
            label: "Temp2",
            borderWidth: 1,
            borderColor: "red",
            showLine: false
          }
      ]
    },
    options: {
      scales: scales,
      plugins: {
        title: {
          display: true,
          text: 'Temperature Sensors',
          font: {
            size: 14,
          }
        },
        subtitle: {
            display: true,
            text: 'Click labels to show/hide sensor dataset'
        },
        tooltip: plugins_tooltip
      },
    }
  }
  const ph_config = {
    type: 'scatter',
    data: {
      fill: false,
      datasets: [
        {
            data: {{ 400E_PH1|safe }},  
            label: "PH1",
            borderWidth: 1,
            borderColor: "green",
            showLine: false
        }, 
        {
            data: {{ 400E_PH2|safe }}, 
            label: "PH2",
            borderWidth: 1,
            borderColor: "orange",
            showLine: false
        },
      ]
    },
    options: {
      scales: scales,
      plugins: {
        title: {
          display: true,
          text: 'PH Sensors',
          font: {
            size: 14,
          }
        },
        subtitle: {
            display: true,
            text: 'Click labels to show/hide sensor dataset'
        },
        tooltip: plugins_tooltip
      }
    }
  }

  const temp_ctx = document.getElementById("temp-data-chart").getContext('2d');
  const ph_ctx = document.getElementById("ph-data-chart").getContext('2d');
  new Chart(temp_ctx, temp_config);
  new Chart(ph_ctx, ph_config);
   
</script>
{% endblock javascript %}

