{% extends 'visualizer/_base.html' %}

{% block title %}Sensor Deviations{% endblock title %}

{% block content %}

{% for batch_id in batch_ids %}
    <a 
      {% if 'TEST' in batch_id %}
          class="btn btn-outline-secondary my-3" 
      {% else %}
          class="btn btn-outline-primary my-3"
      {% endif %}
      href="{% url 'deviations' batch_id %}">{{ batch_id }}
  </a>
{% endfor %}

<h2 class="mt-4"><span class="text-black-50">Batch:</span> {{ batch_info.batch_id }}</h2>
<ul class="mb-5">
    <li>Start date: {{ batch_info.start_date|date:"Y-m-d H:i:s" }}</li>
    <li>End date: {{ batch_info.end_date|date:"Y-m-d H:i:s" }}</li>
    <li>Duration: {{ batch_info.duration }} </li>
    <li># Time steps: {{ time_steps }}</li>
</ul>

<h3 class="mt-4">Temperature Sensor Deviations </h3>
<canvas class="mb-5" id="time-diff-chart"></canvas>

<h3 class="mt-4">PH Sensor Deviations </h3>
<canvas class="mb-5" id="ph-diff-chart"></canvas>

{% endblock content %}

{% block javascript %}

<!-- Javascript for rendering charts -->
 <script> 

  scales = {
    x: {
        type: 'timeseries', // type:'time' would be the same in our case as timesteps are equidistant
        time: {
          unit: 'hour',
          tooltipFormat:'yyyy-MM-dd HH:mm:ss',
          displayFormats: {
            hour: 'HH:mm'
          },
        },
    }
  }
  
  const temp_config = {
    type: 'scatter',
    data: {
      datasets: [
        {
            data: {{ temp_diffs|safe }},  
            label: "Temp2 - Temp1",
            borderWidth: 1,
            borderColor: "green",
            fill: false,
            showLine: false
        }
      ]
    },
    options: {
      scales: scales,
      plugins: {
        title: {
          display: true,
          text: 'Temperature Sensor Deviations',
        },
      }
    }
    
  }

  const ph_config = {
    type: 'scatter',
    data: {
      datasets: [
        {
          data: {{ ph_diffs|safe }},  
          label: "PH2 - PH1",
          borderWidth: 1,
          borderColor: "red",
          fill: false,
          showLine: false
        }
      ]
    },
    options: {
      scales: scales,
      plugins: {
        title: {
          display: true,
          text: 'PH Sensor Deviations',
        },
      }
    }
  };

  
  const time_diff_ctx = document.getElementById("time-diff-chart").getContext('2d');
  const ph_diff_ctx = document.getElementById("ph-diff-chart").getContext('2d');
 
  new Chart(time_diff_ctx, temp_config);
  new Chart(ph_diff_ctx, ph_config);
   
</script> 
{% endblock javascript %}

