{% extends 'visualizer/_base.html' %}

{% block title %}Batch Info{% endblock title %}

{% block content %}

<h2 class="mb-3 mt-5">Batch Info</h2>

<p>A list with meta information about all the batches in the dataset, including duration.</p>
<table class="table table-striped table-bordered mb-5"> 
  <thead>
    <tr>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Duration</th>
        <th>BatchID</th>
      </tr>
  </thead>
  <tbody>
      {% for batch in batches %}
        {% if batch.batch_id %}
          <tr>
            <td>{{ batch.start_date|date:"Y-m-d H:i:s" }}</td>
            <td>{{ batch.end_date|date:"Y-m-d H:i:s" }}</td>
            <td>{{ batch.duration }}</td>
            {% if 'TEST' in batch.batch_id %}
              <td>{{ batch.batch_id }}</td>  
            {% else %}
              <td><a href="{% url 'batches' batch.batch_id %}">{{ batch.batch_id }}</td>  
            {% endif %}
            </tr>
        {% endif %}
      {% endfor %}
  </tbody>
</table>

{% endblock content %}