{% extends 'visualizer/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

  <h1 class="mb-5 mt-4">Visualizing Sensor Timeseries Data</h1>
  <h2>Batches</h2>
  <p><b>Task</b>: List all the batches in the data including the duration of each batch</p>
  <table class="table table-striped table-bordered mb-5"> 
    <thead>
      <tr>
        {% for head in header %}
          <th>{{ head }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for batch in batches %}
          <tr>
            {% for x in batch %}
              <td>{{ x }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}